body{
    text-align: center;
    background-color: aquamarine;
}
.quadrado{
    text-align:center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin:5px;
    cursor:pointer;
    color: #eee;
}
.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;
}
button{
    margin-top: 10px;
    border-radius: 7%;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
h3 , h5{
    margin: 0;
    padding: 0;
}